.row:not(.expanded) .row{
	max-width: $global-width;
}

.row.narrow{
	max-width: 80rem;
}

.row{
	@include min-break($break-medium) {
		padding: 0 40px;
	}
	@include min-break($break-desktop) {
		padding: 0;
	}
}

.alignfull {
	margin: 0 calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
	.row.extended{
		max-width: 90.875rem;
	}
}

.alignwide {
	margin: 0px calc(25% - 25vw);
	max-width: 100vw;
	.row.extended{
		max-width: 100%;
	}
}

.row.extended{
	max-width: 90.875rem;
}

.alignfull .row{
  	max-width: $global-width;
  	margin: 0 auto;
}
.alignfull {
  >[class*="__inner-container"]{
  	max-width: $global-width;
  	margin: 0 auto;
		padding: 0 15px;
  }
}
