.App {
    padding-bottom: 1000px;
}


.header-main {
    padding: 18px 0;
    position: relative;
    transition: overflow $transition;
	top: 0;
	left: 0;
	width: 100%;
    z-index: 110;
    border-bottom: 1px solid $color-border;
    .header-row {
        display: flex;
        align-items: center;
        line-height: 1.5;
        .logo-holder {
            color: #fff;
            .logo--text {
                cursor: pointer;
            }
        }
    }
    .ko-mobile-menu {
        display: block;
        @include min-break($break-large) {
            display: none;
        }
        .toggle-wrapper {
            display: flex;
            justify-content: flex-end;
        }
        .mobile-menu-toggle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                display: block;
                pointer-events: none;
                background-color: #fff;
                height: 2px;
                margin: 4px 0;
                width: 30px;
                transition: transform $transition;
            }
            &.cross {
                span {
                    visibility: hidden;
                    &:first-child {
                        display: block;
                        visibility: visible;
                        transform: rotate(-45deg);
                        transform-origin: top right;
                    }
                    &:last-child {
                        display: block;
                        visibility: visible;
                        transform: rotate(45deg);
                        transform-origin: bottom right;
                    }
                    
                }
            }
        }
    }
    .ko-full-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        &.ko-full-menu--desktop {    
            display: none;        
            @include min-break($break-large) {
                display: block;
            }
        }
        &.ko-full-menu--mobile {    
            position: absolute;
            top: calc(100% + 1px);
            right: 0;
            transition: all $transition;
            overflow-y: scroll;
            transform: scale(0,1);
            transform-origin: right;
            background-color: #fff;
            height: 100vh;
            width: 100%;
            z-index: 110;
            display: block;
            padding: 0 20px;
            &.menu-active {
                transform: scale(1, 1);
            }
            .full-menu-list {
                flex-direction: column;
                .menu-item {
                    padding: 12px 0;
                    width: 100%;
                    border-bottom: 1px solid $color-border;
                    .menu-item-link {
                        color: $color-primary;                       
                        &:hover {
                            transform: none;
                            color: $color-secondary;
                        }
                    }
                }
            }
            .mobile-icon-wrapper {
                padding: 12px 0;
                .ko-icon-holder {
                    border: 1px solid $color-border;
                    display: inline-flex;
                    padding: 5px;
                    align-items: center;
                    .icon--login {
                        margin-left: 8px;
                    }
                }
            }
           
        }
        .full-menu-list {
            display: flex;
            align-items: center;
            .menu-item {
                display: block;
                height: 100%;
                cursor: pointer;
                padding: 0 20px;
                .menu-item-link {
                    display: block;
                    color: #fff;
                    letter-spacing: 0;
                    transition: $delay;
                    font-weight: 500;
                    transform: translateY(0);
                    &:hover {
                        transform: translateY(-2px);
                    }
                }
            }
        }
    }
    .ko-header-secondary-area {
        display: none;
        @include min-break($break-large) {
            display: flex;
            justify-content: flex-end;
        }

        .ko-icon-holder {
            transform: translateY(0);
            transition: transform $delay;
            cursor: pointer;
            &:hover {
                transform: translateY(-2px);
            }
        }

        svg {
            font-size: large;
            path {
                fill: white;
            }
        }
    }
    &.is-sticky {     
        transition: $transition;
        position: fixed;
        .header-row {
            .logo-holder {
                color: $color-primary;
            }
        }
        .ko-mobile-menu {
            .mobile-menu-toggle {
                span {
                    background-color: $color-primary;
                }

            }
        }
        .ko-full-menu {
            .full-menu-list {
                .menu-item {
                    .menu-item-link {
                        color: $color-primary;
                    }
                }
            }
        }
        .ko-header-secondary-area {
            svg {
                path {
                    fill: $color-primary;
                }
            }
        }
        &::after {
            transform: translateY(0);
        }
        &::before {
            transform: scale(1, 0);
        }
    }
    &::after {
        position: absolute;
        transition: .5s;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        content: '';
        display: block;
        z-index: -1;
        background-color: #fff;
        transform: translateY(-100%);
    }
    &::before {
        position: absolute;
        transition: .5s;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        content: '';
        display: block;
        z-index: -1;
        background-color: $color-secondary;
        transform: scale(1, 1);
        transform-origin: bottom;
    }
}

