
@import '../variables';

.login-container {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-form-wrapper {
        text-align: center;
        .login-form {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            .login-title {
                display: inline-block;
                margin-bottom: 8px;
            }
            .login-description {
                display: inline-block;
                margin-bottom: 15px;
            }
            .login-form--inputs {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                input {
                    margin-bottom: 15px;
                    width: 100%;
                    outline: none;
                    border: 1px solid $color-border;
                    padding: 15px 10px;
                    color: $color-primary;
                    transition: $delay;
                    &:focus {
                        border-color: $color-primary;
                    }
                }
                .submit-button {
                    position: relative;
                    width: 100%;
                    margin-bottom: 15px;
                    input {
                        cursor: pointer;
                        margin-bottom: 0;
                        display: block;
                        background: none;
                        color: $color-accent;
                        border: 1px solid $color-secondary;
                    }
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        background-color: $color-secondary;
                        transform: scale(1, 1);
                        transform-origin: center;
                        transition: all $delay;
                        z-index: -1;
                    }
                    &:hover {
                        input {
                            color: $color-primary;
                            border-color: $color-primary;
                        }
                        &::before {
                            transform: scale(0, 1);
                        }
                    }

                }
                .signup-extra-inputs {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    input {
                        &:first-child {
                            margin-left: 0;
                        }
                        margin-left: 5px;
                    }
                } 
            }
        }
        .signup-link {
            display: block;
            font-size: 14px;
            color: $color-primary;
            .create-account-link {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: calc(100% + 2px);
                    width: 100%;
                    left: 0;
                    height: 1px;
                    background-color: $color-border;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: calc(100% + 2px);
                    width: 100%;
                    left: 0;
                    height: 1px;
                    background-color: $color-primary;
                    transform: scale(0, 1);
                    transform-origin: left;
                    transition: $delay;
                    z-index: 1;
                }
                &:hover {
                    font-weight: 500;
                    &::before {
                        transform: scale(1, 1);
                    }
                }
            }
        }
    }
}


