
@import '../variables';

.payments-container--info {
    padding-top: 5.6rem;
    .payment-site--title {
        margin-bottom: 25px;
        span {
            font-size: 24px;
            font-weight: 600;
            display: block;
        }
    }
    .payment-navigation {
        .navigation-list {
            display: flex;
            align-items: center;
            .payment-navigation--item {
                font-size: 14px;
                &.initial--item {
                    color: $color-secondary;
                }
                color: $color-primary;
            }
            .nav-separator {
                display: flex;
                align-items: center;
                padding: 0 12px;
                span {
                    font-size: 14px;
                }
            }
        }
        margin-bottom: 12px;
    }
    .payment-body {
        .payment-information--body {
            .payment-body--content {
                .content-wrapper {
                    padding: 11px 17px;
                    border: 1px solid $color-border;
                    margin-bottom: 20px;
                    border-radius: 3px;
                }
                .form-title {
                    opacity: .7;
                }
                .contact {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .credit-cart-services {
                    .payment-title {
                        margin-bottom: 5px;
                        font-weight: 600;
                        font-size: 18px;
                        color: $color-primary;
                    }
                    .transaction-secure--text {
                        opacity: .8;
                        color: $color-primary;
                        margin-bottom: 10px;
                        display: block;
                        font-size: 14px;
                    }
                    .credit-cart-form {
                        .title-holder {
                            position: relative;
                            margin-bottom: 20px;
                            &::after {
                                position: absolute;
                                display: block;
                                content: '';
                                top: calc(100% + 2px);
                                left: 0;
                                height: 1px;
                                width: 100%;
                                background-color: $color-border;
                            }
                        }
                        input {
                            margin-bottom: 15px;
                            width: 100%;
                            outline: none;
                            border: 1px solid $color-border;
                            padding: 15px 10px;
                            color: $color-primary;
                            transition: $delay;
                            &:focus {
                                border-color: $color-primary;
                            }
                        }
                        .form-tab {
                            .form--select {
                                display: flex;
                                align-items: center;
                                select {
                                    margin-bottom: 15px;
                                    width: 100%;
                                    outline: none;
                                    border: 1px solid $color-border;
                                    padding: 15px 16px 15px 10px;
                                    color: $color-primary;
                                    transition: $delay;
                                    &:first-child {
                                        border-right: 0;
                                        &:focus {
                                            &~select {
                                                border-left-color: $color-primary;
                                            }
                                        }
                                    }
                                    &:focus {
                                        border-color: $color-primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .payment-body--buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                button.return-to-cart {
                    color: $color-secondary;
                    cursor: pointer;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    .icon {
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}


