//Media Query START
$break-small: 767px;
$break-medium: 1023px;
$break-large: 1439px;
$break-desktop: 1700px;

@mixin min-break($size) {
	@media only screen and (min-width: $size) { @content; }
}
@mixin max-break($size) {
	@media only screen and (max-width: $size) { @content; }
}
//Media Query END

/*
@include min-break($break-medium) {
		font-size: 50px;
}
*/


$color-border: #a0a0a0;
$color-primary: black;
$color-secondary: #68b455;
$color-accent: white;


$delay: .25s;
$transition: .7s;